.nav-items a{
  color:blueviolet;
font-weight:bold;
font-size:1rem;
padding: 5px;
text-decoration: none;
}
.nav-items a.active{
  color: rgb(34, 24, 215);
  font-weight:900;
  font-size: 23px;
  padding-top: 0;
  border-bottom: 5px solid blue;
}

.nav-items{
  display: flex;
flex-wrap: nowrap;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 10s linear;
  }
}


/* .nav-items a:hover {
    background: #e3e3e3;
    color: blue;
   border-bottom: 5px solid red;
   scale: 1.4
   } */
    

