.nav-items a{
  color:rgb(58, 55, 200);
font-weight:bold;
font-size:1rem;
padding: 5px;
text-decoration: none;
}
.nav-items a.active{
  color: rgb(34, 24, 215);
  font-weight:900;
  font-size: 18px;
  /* padding-top: 0; */
  border-bottom: 3px solid blue;
}

.nav-items{
  display: flex;
flex-wrap: nowrap;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.login{
  background-color: #0d60e6;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
}

.login:hover{
  background-color: white;
  color: #008CBA;
  box-shadow: 0 5px #999;
}