/* .sidebar{
    position: fixed;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}
.sidebar ul{
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 1px;
    padding-right: 0;
} */
.sidebar ul li{
    list-style: none;
    text-align: center;
    padding: 5px 0 ;
}
.sidebar ul{
    margin: 0;
    padding: 0;
}
.sidebar a{
text-decoration: none;
color: black;
}
#sidebar {
    /* height: 100%; */
    background-color: #b64e95;
    border-radius:10px;
    /* display: flex;
    flex-direction: column; */
    position: fixed;
    overflow-y: auto;
    z-index: 100;
  }